input{
  width: 30%;
  margin-right: 20px;
}

@media only screen and (max-width: 480px) {
  .field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile:not(:first-child) {
    margin-top: 16px;
  }
}

