/* td, table, th {
  border: 3px solid red;
  border-collapse: collapse;
  text-align: center;
}

.searchInput {
  margin-bottom: 10px;
}

table {
  width: 100%;
}

.table-container {

  padding: 16px;
  position: relative;
} */

/** {*/
/*  font-family: Verdana, Helvetica, sans-serif;*/
/*}*/

/*table {*/
/*  width: 100%;*/
/*  margin-top: 20px;*/
/*}*/

/*th, td {*/
/*  padding: 10px;*/
/*  border-bottom: 2px solid black;*/
/*  text-align: center;*/
/*}*/

/*tr:hover {*/
/*  background-color: coral;*/
/*}*/

/*button {*/
/*  padding: 5px 10px;*/
/*  text-decoration: none;*/
/*  margin-top: 10px;*/
/*  display: inline-block;*/
/*  background-color: #eee;*/
/*  border-radius: 4px;*/
/*}*/

/*button:hover {*/
/*  color: #039be5;*/
/*  background-color: #CFD8DC;*/
/*}*/


@media only screen and (max-width: 480px) {
  .field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile:not(:first-child) {
    margin-top: 16px;
  }
}

