<h2>Clients</h2>
<div>
  <label class="searchInput">Search clients: <input class="searchInput" (ngModelChange)="changed($event)"
                                                    [(ngModel)]="searchTerm"/>
  </label>

</div>
<div class="table-container">
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let client of clients | myCustomSearch:debouncedSearchTerm:clientsSearchCriterias">
      <td>{{client.id}}</td>
      <td>{{client.name}}</td>
      <td>{{client.surname}}</td>
      <td>
        <button (click)="showClient(client)">Rented movies</button>
        <button (click)="editClient(client.id)">Edit</button>
        <button (click)="deleteClient(client)">Delete</button>
      </td>
    </tr>
  </table>
</div>

<button (click)="addNewClient()">Add New Client</button>

<app-client-rentals [hidden]="!selectedClient" [client]="selectedClient"></app-client-rentals>
