<h2 class="title is-3">Edit movie details</h2>

<div class="card">
    <div class="content">
        <label>Title</label>
        <input class="input is-rounded" [(ngModel)]="movie.title"/><br>
        <label>Description</label>
        <textarea class="textarea" [(ngModel)]="movie.description"></textarea><br>
        <label>Genre</label>
        <input class="input is-rounded" [(ngModel)]="movie.genre"/> 
    </div>
    <button class="button is-success" (click)="updateMovie()">Update</button>
</div>





