<h2>Add a new movie</h2>

<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="title">Title:<br>
      <input id="title" formControlName="title" placeholder="Enter movie title">
    </label><br>
    <p *ngIf="!form.controls.title.valid && form.controls.title.touched" style="color: red;font-weight: bold">
      Title required!
    </p>
    <label for="description">Description:<br>
      <textarea id="description" formControlName="description" placeholder="Write movie description, maximum 200 characters">

      </textarea>
    </label><br>
    <p *ngIf="!form.controls.description.valid" style="font-weight: bold;color: red">
      Maximum characters limit reached!
    </p>
    <label for="genre">Genre:<br>
      <input id="genre" formControlName="genre" placeholder="Enter movie genre">
    </label><br>
    <button type="submit">Save</button>
  </form>
</div>
