<div>
  <h2>{{movie.title}} - Rent Details</h2>
  <ng-form class="form">
    <div>
      <label>Select Client:
        <select #selectedClient (change)="onSelected(selectedClient.value)">
          <option>Select Client</option>
          <option  *ngFor="let client of clients">
            {{client.name.concat(" ", client.surname)}}
          </option>
        </select>
      </label>
    </div>
    <div>
      <label>Rent Date: <input #startDate type="date"/> </label>
    </div>
    <div>
      <label>Due Date: <input #returnDate type="date"/> </label>
    </div>
    <div>
      <button (click)="addNewRentedMovie(startDate.value,returnDate.value)">Ok</button>
      <button (click)="cancel()">Cancel</button>
    </div>
  </ng-form>
</div>
