table,td,th{
  border-collapse: collapse;
  border: 3px dashed blue;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

table.is-loading{
  opacity: 0.5;
}

table{
  width: 100%;
}


.table-container{
  position: relative;
  padding: 16px;
}

.searchInput{
  margin-bottom: 10px;
}



.table-container .spinner-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
