<h2 class="title mt-6">Add new client</h2>
<form style="max-width: 500px" class="container mt-6 is-flex-direction-column is-align-content-space-between"
      [formGroup]="newClientForm" (ngSubmit)="onSubmit()">

  <div class="field">
    <label class="label" for="name">
      Name
    </label>
    <div class="control is-normal has-icons-right">
      <input [ngClass]="{'is-success': !newClientForm.controls.name.hasError('required'),
      'is-danger': newClientForm.controls.name.hasError('required')
       && newClientForm.controls.name.touched || newClientForm.controls.name.hasError('minlength')}"
             class="input is-rounded" formControlName="name"
             id="name" placeholder="Enter name">

      <span class="icon is-small is-right">
          <i style="color: green" *ngIf="!newClientForm.controls.name.hasError('required')
          && !newClientForm.controls.name.hasError('minlength')"
             class="fas fa-check"></i>
        </span>
      <span class="icon is-small is-right">
          <i style="color: red" *ngIf="newClientForm.controls.name.hasError('required')
                && newClientForm.controls.name.touched || newClientForm.controls.name.hasError('minlength')"
             class="fa-sharp fa-solid fa-xmark fa-bounce">
          </i>
        </span>
    </div>
    <p *ngIf="newClientForm.controls.name.hasError('required')
          && newClientForm.controls.name.touched" class="help is-danger">
      Name required
    </p>
    <p class="help is-danger" *ngIf="newClientForm.controls.name.hasError('minlength')">
      Minim length is 3 characters!
    </p>
  </div>
  <div class="field">
    <label class="label" for="surname">Surname
    </label>
    <div class="control has-icons-right">
      <input [ngClass]="{'is-success': !newClientForm.controls.surname.hasError('required'),
                            'is-danger': newClientForm.controls.surname.hasError('required')
                             && newClientForm.controls.surname.touched
                             || newClientForm.controls.surname.hasError('minlength')}"
             class="input is-normal is-rounded" formControlName="surname"
             id="surname" placeholder="Enter surname">
      <span class="icon is-small is-right">
          <i style="color: green" *ngIf="!newClientForm.controls.surname.hasError('required')
                                  && !newClientForm.controls.surname.hasError('minlength')"
             class="fas fa-check">
          </i>
        </span>
      <span class="icon is-small is-right">
          <i style="color: red" *ngIf="newClientForm.controls.surname.hasError('required')
                                && newClientForm.controls.surname.touched
                                || newClientForm.controls.surname.hasError('minlength')"
             class="fa-sharp fa-solid fa-xmark fa-bounce">
          </i>
        </span>
      <p *ngIf="newClientForm.controls.surname.hasError('required')
          && newClientForm.controls.surname.touched" class="help is-danger">
        Surname required
      </p>
      <p class="help is-danger" *ngIf="newClientForm.controls.surname.hasError('minlength')">
        Minim length is 3 characters!
      </p>
    </div>
  </div>

  <div class="field">
    <label class="label" for="email">Email Address
    </label>
    <div class="control has-icons-right">
      <input [ngClass]="{'is-success': !newClientForm.controls.email.hasError('required'),
                            'is-danger': newClientForm.controls.email.hasError('required')
                             && newClientForm.controls.email.touched
                             || newClientForm.controls.email.hasError('minlength')
                             || newClientForm.controls.email.hasError('email')}"
             class="input is-normal is-rounded" formControlName="email"
             id="email" placeholder="Enter email" type="email">
      <span class="icon is-small is-right">
          <i style="color: green" *ngIf="!newClientForm.controls.email.hasError('required')
                                  && !newClientForm.controls.email.hasError('minlength')
                                  && !newClientForm.controls.email.hasError('email')"
             class="fas fa-check">
          </i>
        </span>
      <span class="icon is-small is-right">
          <i style="color: red" *ngIf="newClientForm.controls.email.hasError('required')
                                && newClientForm.controls.email.touched
                                || newClientForm.controls.email.hasError('minlength')
                                || newClientForm.controls.email.hasError('email')"
             class="fa-sharp fa-solid fa-xmark fa-bounce">
          </i>
        </span>
      <p *ngIf="newClientForm.controls.email.hasError('required')
          && newClientForm.controls.email.touched" class="help is-danger">
        Email required
      </p>
      <p class="help is-danger" *ngIf="newClientForm.controls.email.hasError('minlength')">
        Minim length is 3 characters!
      </p>
    </div>
  </div>

  <div class="field">
    <label class="label" for="password">Password
    </label>
    <div class="control has-icons-right">
      <input [ngClass]="{'is-success': !newClientForm.controls.password.hasError('required'),
                            'is-danger': newClientForm.controls.password.hasError('required')
                             && newClientForm.controls.password.touched
                             || newClientForm.controls.password.hasError('minlength')}"
             class="input is-normal is-rounded" formControlName="password"
             id="password" placeholder="Enter password" type="password">
      <span class="icon is-small is-right">
          <i style="color: green" *ngIf="!newClientForm.controls.password.hasError('required')
                                  && !newClientForm.controls.password.hasError('minlength')"
             class="fas fa-check">
          </i>
        </span>
      <span class="icon is-small is-right">
          <i style="color: red" *ngIf="newClientForm.controls.password.hasError('required')
                                && newClientForm.controls.password.touched
                                || newClientForm.controls.password.hasError('minlength')"
             class="fa-sharp fa-solid fa-xmark fa-bounce">
          </i>
        </span>
      <p *ngIf="newClientForm.controls.password.hasError('required')
          && newClientForm.controls.password.touched" class="help is-danger">
        Password required
      </p>
      <p class="help is-danger" *ngIf="newClientForm.controls.password.hasError('minlength')">
        Minim length is 3 characters!
      </p>
    </div>
  </div>
  <div>
    <label for="birthday">Birthday: <input formControlName="birthday" id="birthday" type="date"/>
    </label>
    <p *ngIf="newClientForm.controls.birthday.hasError('required')" class="help is-danger">
        Birthday required
      </p>
  </div>
  <div>
    <label class="label">Client type</label>
    <div>
      <select [ngClass]="{'is-success': !newClientForm.controls.type.hasError('required'),
                            'is-danger': newClientForm.controls.type.hasError('required')}"
              formControlName="type" id="type">
        <option value="standard">Standard</option>
        <option value="premium">Premium</option>
      </select>
      <p *ngIf="newClientForm.controls.type.hasError('required')
          && newClientForm.controls.type.touched" class="help is-danger">
        Please select an access type!
      </p>
    </div>
  </div>

  <div class="field is-grouped mt-2 is-justify-content-center">
    <p class="control">
      <button class="button is-link is-medium is-rounded is-responsive"
              [disabled]="!newClientForm.valid" type="submit">
        Save
      </button>
    </p>
    <p class="control">
      <button class="button is-link is-rounded is-medium is-responsive" (click)="cancel()">
        Cancel
      </button>
    </p>
  </div>
</form>



