<div class="is-flex">
  <div class="is-flex-grow-1" style="border-right: 5px solid black">
    <h2 style="text-align: center" class="title m-6">{{client.name}} details</h2>
    <form style="max-width: 300px"
          class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center"
          [formGroup]="editClientForm" (ngSubmit)="onSubmit()">
      <div *ngIf="isLoading" class="spinner-container">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="field">
        <label for="name" class="label" style="text-align: center;">
          Name*
        </label>
        <div class="control is-normal has-icons-right">
          <input id="name" class="input is-rounded" formControlName="name"
                 [ngClass]="{'is-success': !editClientForm.controls.name.hasError('required'),
                'is-danger': editClientForm.controls.name.hasError('required')
                 && editClientForm.controls.name.touched || editClientForm.controls.name.hasError('minlength')}"/>
          <span class="icon is-small is-right">
          <i style="color: green" *ngIf="!editClientForm.controls.name.hasError('required')
              && !editClientForm.controls.name.hasError('minlength')"
             class="fas fa-check"></i>
        </span>
          <span class="icon is-small is-right">
          <i style="color: red" *ngIf="editClientForm.controls.name.hasError('required')
                && editClientForm.controls.name.touched || editClientForm.controls.name.hasError('minlength')"
             class="fa-sharp fa-solid fa-xmark fa-bounce">
          </i>
        </span>
        </div>
      </div>
      <label for="surname" class="label">
        Surname*
      </label>
      <div class="control is-normal has-icons-right">
        <input id="surname" class="input is-normal is-rounded" name="surname" formControlName="surname" value="{{client.surname}}"
               [ngClass]="{'is-success': !editClientForm.controls.surname.hasError('required'),
                'is-danger': editClientForm.controls.surname.hasError('required')
                 && editClientForm.controls.surname.touched || editClientForm.controls.surname.hasError('minlength')}"/>
        <span class="icon is-small is-right">
          <i style="color: green" *ngIf="!editClientForm.controls.surname.hasError('required')
              && !editClientForm.controls.surname.hasError('minlength')"
             class="fas fa-check"></i>
        </span>
        <span class="icon is-small is-right">
          <i style="color: red" *ngIf="editClientForm.controls.surname.hasError('required')
                && editClientForm.controls.surname.touched || editClientForm.controls.surname.hasError('minlength')"
             class="fa-sharp fa-solid fa-xmark fa-bounce">
          </i>
        </span>
      </div>
      <div class="field is-grouped mt-4">
        <p class="control">
          <button [disabled]="isLoading || !editClientForm.valid" class="button is-responsive is-link" type="submit">
            Update
          </button>
        </p>
        <p class="control">
          <button class="button is-responsive" (click)="cancel()">Cancel</button>
        </p>
      </div>
    </form>
  </div>
  <div style="margin-left: 100px" class="is-flex-grow-1 is-justify-content-center">
    <h1 class="title m-6">Rented Movies</h1>
    <table>
      <tr>
        <th>Title</th>
        <th>Rented Date</th>
        <th>Due Date</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let movie of rentedMovies">
        <td>{{movie.name}}</td>
        <td>{{movie.rentedDate}}</td>
        <td>{{movie.dueDate}}</td>
        <td>
          <button class="button is-success is-outlined is-rounded" (click)="onStatusUpdate(movie.id,'returned')">
            Return
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
<app-client-movie-list (newRentEvent)="newRent($event)"></app-client-movie-list>

