<h1>Current Rentals</h1>

<table>
    <tr>
        <th>Rental ID</th>
        <th>Movie Title</th>
        <th>Client Name</th>
        <th>Rented Date</th>
        <th>Due Date</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let rental of rentalClients">
        <td>{{rental.id}}</td>
        <td>{{rental.movieTitle}}</td>
        <td>{{rental.clientFullname}}</td>
        <td>{{rental.rentedDate}}</td>
        <td>{{rental.dueDate}}</td>
        <td><button>Return</button></td>
    </tr>
</table>
