<h1 class="title is-1">Current Rentals</h1>

<table>
    <tr>
        <th>Movie Title</th>
        <th>Client Name</th>
        <th>Rented Date</th>
        <th>Due Date</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let rental of rentals">
        <td *ngIf="rental.status === 'active'">{{rental.movieTitle}}</td>
        <td *ngIf="rental.status === 'active'">{{rental.clientFullname}}</td>
        <td *ngIf="rental.status === 'active'">{{rental.rentedDate}}</td>
        <td *ngIf="rental.status === 'active'">{{rental.dueDate}}</td>
        <td *ngIf="rental.status === 'active'">
            <button class="button is-info is-rounded is-light is-outlined" (click)="onStatusChanged(rental.id, 'returned')">
                Return
            </button>
        </td>
    </tr>
</table>
