a{
  text-decoration: none;
  margin: 2px;
  border: 3px black solid;
  padding: 2px;
  border-radius: 10px;
}

a:hover{
  color:green;
  background-color: black;
}

h2{
  text-align: center;
}

div{

}
